<!DOCTYPE html>

<html lang="zh-Hant-TW">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="js/util.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/absPainter.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/axis.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/axis-x.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/axis-y.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/k-line.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/control.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/controlbar.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/line.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/cross.js" type="text/javascript" charset="UTF8"></script>
    <script src="js/painterTrend.js" type="text/javascript" charset="UTF8"></script>
</head>
<body>
    <h1 id="h1"><%=msg%></h1>
    <canvas id="kline" width="450" height="400" style="z-index: 2; border: 1px solid #69c"></canvas>
    <!--<canvas id="kline2" width="900" height="500" style="z-index: 2; border: 1px solid #69c"></canvas>-->
</body>
<script type="text/javascript">
    var c = new control({
        begin: 0});
{
    var paintStream = [
        {
            'price':{
                region: { x: 'padding.left', y: 'padding.top', width: 'f:00.00', height: '55%' },
                'price':new yAxis({
                    font: '11px Arial',
                    color: 'black',
                    align: 'right',
                    textBaseline: 'top',
                    dataType: 'money',
                    dataRange: 'range'
                })
            }
        },
        {
            'main':{
                region: {
                    x: {'$and':['price.x', 'price.width', 3]}, y: {'$and':['price.y', (determineFontHeight('11px Arial')/2)]}
                    , width: {'$sub':['100%','price.width','padding.right','padding.left']}, height: '55%',
                    riseColor: 'red',
                    fallColor: 'green',
                    normalColor: 'black',
                    chartMargin:{left:45.5,top:20.5,right:20.5},
                    barWidth: 5, spaceWidth: 2, lineStyle: 'solid', borderColor: 'gray', splitLineColor: '#eeeeee', lineWidth: 1
                },
                'Tline':new line({
                    yAxisName: 'price',
                    xAxisName: 'time',
                    xAxisFocus: true,
                    strokeStyle: 'red',
                    lineWidth: 1
                }),
                'kCross': new cross({
                    xAxisName: 'volKline'
                })
            }
        },
        {
            'time':{
                region: { x: 'main.x', y: {'$and':['main.height', 'main.y', determineFontHeight('11px Arial')/2]}, width: 'main.width', height: 'f:00-00-00' },
                'time':new xAxis({
                    font: '11px Arial',
                    color: 'black',
                    align: 'right',
                    textBaseline: 'top',
                    dataType: 'time',
                    order: 'desc',
                    dataRange: 'range'
                })
            }
        },
        {
            'volume':{
                region: { x: 'price.x', y: {'$and':['price.height', 'price.y', {'$mul':['time.height',2]}]}, width: 'f:0000', height: '18%' },
                'volumeY':new yAxis({
                    font: '11px Arial',
                    color: 'black',
                    align: 'right',
                    textBaseline: 'top',
                    dataType: 'number',
                    dataRange: 'range'
                })
            }
        },
        {
            'volmain':{
                region: { x: 'main.x', y: {'$and':['volume.y', determineFontHeight('11px Arial')/2]}, width: 'main.width', height: '18%' },
                'volKline':new kLine({
                    lineWidth: 10,
                    lineStyle: 'solid',
                    yAxisName: 'volumeY',
                    xAxisName: 'time'
                }),
                'mCross': new cross({
                    xAxisName: 'Tline'
                })
            }
        }
    ];
}
    var painter = new painterTrend('kline',paintStream);
    painter.load(c, [
 {
    "time" : "09:00:00",
    "price" : 72.6,
    "vol" : 0
}

,   
{
    "time" : "09:00:26",
    "price" : 75.4,
    "vol" : 10
}

,
{
    "time" : "09:01:41",
    "price" : 75.6,
    "vol" : 10
}

,
{
    "time" : "09:01:46",
    "price" : 75.5,
    "vol" : 23
}

,
{
    "time" : "09:01:56",
    "price" : 75.5,
    "vol" : 15
}

,
{
    "time" : "09:02:02",
    "price" : 75.5,
    "vol" : 1
}

,
{
    "time" : "09:02:17",
    "price" : 75.4,
    "vol" : 3
}

,
{
    "time" : "09:02:27",
    "price" : 75.2,
    "vol" : 2
}

,
{
    "time" : "09:02:32",
    "price" : 75.2,
    "vol" : 1
}

,
{
    "time" : "09:02:42",
    "price" : 75.0,
    "vol" : 14
}

,
{
    "time" : "09:02:47",
    "price" : 75.0,
    "vol" : 5
}

,
{
    "time" : "09:02:52",
    "price" : 75.0,
    "vol" : 503
}

,
{
    "time" : "09:02:57",
    "price" : 74.8,
    "vol" : 521
}

,
{
    "time" : "09:03:02",
    "price" : 75.0,
    "vol" : 9
}

,
{
    "time" : "09:03:07",
    "price" : 75.0,
    "vol" : 539
}

,
{
    "time" : "09:03:12",
    "price" : 75.2,
    "vol" : 8
}

,
{
    "time" : "09:03:17",
    "price" : 75.3,
    "vol" : 5
}

,
{
    "time" : "09:03:22",
    "price" : 75.3,
    "vol" : 2
}

,
{
    "time" : "09:03:27",
    "price" : 75.4,
    "vol" : 5
}

,
{
    "time" : "09:03:32",
    "price" : 75.5,
    "vol" : 14
}

,
{
    "time" : "09:03:37",
    "price" : 75.5,
    "vol" : 5
}

,
{
    "time" : "09:03:42",
    "price" : 75.6,
    "vol" : 5
}

,
{
    "time" : "09:04:17",
    "price" : 76.3,
    "vol" : 19
}

,
{
    "time" : "09:04:22",
    "price" : 76.4,
    "vol" : 9
}

,
{
    "time" : "09:04:27",
    "price" : 76.5,
    "vol" : 11
}

,
{
    "time" : "09:04:32",
    "price" : 76.5,
    "vol" : 27
}

,
{
    "time" : "09:04:37",
    "price" : 76.6,
    "vol" : 14
}

,
{
    "time" : "09:04:42",
    "price" : 76.6,
    "vol" : 23
}

,
{
    "time" : "09:04:47",
    "price" : 76.6,
    "vol" : 14
}

,
{
    "time" : "09:04:52",
    "price" : 76.5,
    "vol" : 53
}

,
{
    "time" : "09:04:57",
    "price" : 76.8,
    "vol" : 36
}

,
{
    "time" : "09:05:02",
    "price" : 76.6,
    "vol" : 19
}

,
{
    "time" : "09:05:07",
    "price" : 76.8,
    "vol" : 8
}

,
{
    "time" : "09:05:12",
    "price" : 76.6,
    "vol" : 4
}

,
{
    "time" : "09:05:17",
    "price" : 76.8,
    "vol" : 26
}

,
{
    "time" : "09:05:22",
    "price" : 76.8,
    "vol" : 29
}

,
{
    "time" : "09:05:27",
    "price" : 76.9,
    "vol" : 10
}

,
{
    "time" : "09:05:32",
    "price" : 77.0,
    "vol" : 14
}

,
{
    "time" : "09:05:37",
    "price" : 77.0,
    "vol" : 15
}

,
{
    "time" : "09:05:42",
    "price" : 77.0,
    "vol" : 7
}

,
{
    "time" : "09:05:47",
    "price" : 77.0,
    "vol" : 21
}

,
{
    "time" : "09:05:52",
    "price" : 77.0,
    "vol" : 35
}

,
{
    "time" : "09:05:57",
    "price" : 76.9,
    "vol" : 8
}

,
{
    "time" : "09:06:03",
    "price" : 76.9,
    "vol" : 9
}

,
{
    "time" : "09:06:08",
    "price" : 76.9,
    "vol" : 18
}

,
{
    "time" : "09:06:13",
    "price" : 76.9,
    "vol" : 1118
}

,
{
    "time" : "09:06:18",
    "price" : 76.8,
    "vol" : 1130
}

,
{
    "time" : "09:06:53",
    "price" : 76.4,
    "vol" : 1174
}

,
{
    "time" : "09:06:58",
    "price" : 76.4,
    "vol" : 1176
}

,
{
    "time" : "09:07:03",
    "price" : 76.4,
    "vol" : 9
}

,
{
    "time" : "09:07:03",
    "price" : 76.4,
    "vol" : 9
}
,
{
    "time" : "09:07:03",
    "price" : 76.4,
    "vol" : 9
}

,
{
    "time" : "09:07:53",
    "price" : 77.0,
    "vol" : 12
}

,
{
    "time" : "09:07:53",
    "price" : 77.0,
    "vol" : 12
}

,
{
    "time" : "09:09:24",
    "price" : 77.3,
    "vol" : 8
}

,
{
    "time" : "09:09:29",
    "price" : 77.2,
    "vol" : 5
}

,
{
    "time" : "09:09:34",
    "price" : 77.2,
    "vol" : 2
}

,
{
    "time" : "09:09:39",
    "price" : 77.0,
    "vol" : 12
}

,
{
    "time" : "09:11:14",
    "price" : 76.7,
    "vol" : 1577
}

,
{
    "time" : "09:11:19",
    "price" : 76.7,
    "vol" : 1578
}

,
{
    "time" : "09:11:24",
    "price" : 76.7,
    "vol" : 1580
}

,
{
    "time" : "09:11:44",
    "price" : 76.7,
    "vol" : 1593
}

,
{
    "time" : "09:11:54",
    "price" : 76.7,
    "vol" : 6
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:11:59",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:13:55",
    "price" : 76.5,
    "vol" : 1
}

,
{
    "time" : "09:15:40",
    "price" : 76.6,
    "vol" : 1
}

,
{
    "time" : "09:15:45",
    "price" : 76.7,
    "vol" : 3
}

,
{
    "time" : "09:15:50",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:15:55",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:15:55",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:15:55",
    "price" : 76.7,
    "vol" : 1
}

,
{
    "time" : "09:16:40",
    "price" : 76.6,
    "vol" : 3
}

,
{
    "time" : "09:16:45",
    "price" : 76.5,
    "vol" : 6
}

,
{
    "time" : "09:16:50",
    "price" : 76.4,
    "vol" : 1
}

,
{
    "time" : "09:16:56",
    "price" : 76.3,
    "vol" : 6
}

,
{
    "time" : "09:17:01",
    "price" : 76.3,
    "vol" : 3
}

,
{
    "time" : "09:17:06",
    "price" : 76.3,
    "vol" : 4
}

,
{
    "time" : "09:17:11",
    "price" : 76.2,
    "vol" : 3
}

,
{
    "time" : "09:17:16",
    "price" : 76.1,
    "vol" : 2
}

,
{
    "time" : "09:17:21",
    "price" : 76.0,
    "vol" : 4
}

,
{
    "time" : "09:17:26",
    "price" : 76.0,
    "vol" : 9
}

,
{
    "time" : "09:17:31",
    "price" : 76.0,
    "vol" : 1
}

,
{
    "time" : "09:17:36",
    "price" : 76.0,
    "vol" : 3
}

,
{
    "time" : "09:17:41",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:17:46",
    "price" : 76.0,
    "vol" : 10
}

,
{
    "time" : "09:17:51",
    "price" : 76.1,
    "vol" : 5
}

,
{
    "time" : "09:17:56",
    "price" : 76.1,
    "vol" : 4
}

,
{
    "time" : "09:18:01",
    "price" : 76.3,
    "vol" : 4
}

,
{
    "time" : "09:18:01",
    "price" : 76.3,
    "vol" : 4
}

,
{
    "time" : "09:18:01",
    "price" : 76.3,
    "vol" : 4
}

,
{
    "time" : "09:20:02",
    "price" : 76.1,
    "vol" : 4
}

,
{
    "time" : "09:20:02",
    "price" : 76.1,
    "vol" : 4
}

,
{
    "time" : "09:20:02",
    "price" : 76.1,
    "vol" : 4
}

,
{
    "time" : "09:20:17",
    "price" : 75.9,
    "vol" : 1
}

,
{
    "time" : "09:20:22",
    "price" : 75.9,
    "vol" : 8
}
,
{
    "time" : "09:20:27",
    "price" : 75.9,
    "vol" : 2
}

,
{
    "time" : "09:20:32",
    "price" : 75.9,
    "vol" : 3
}

,
{
    "time" : "09:20:37",
    "price" : 75.9,
    "vol" : 3
}

,
{
    "time" : "09:21:12",
    "price" : 76.0,
    "vol" : 4
}

,
{
    "time" : "09:21:17",
    "price" : 76.0,
    "vol" : 2
}

,
{
    "time" : "09:21:22",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:21:27",
    "price" : 76.0,
    "vol" : 3
}

,
{
    "time" : "09:21:37",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:21:57",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:21:57",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:21:57",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:21:57",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:21:57",
    "price" : 76.0,
    "vol" : 6
}

,
{
    "time" : "09:22:07",
    "price" : 76.0,
    "vol" : 3
}

,
{
    "time" : "09:22:12",
    "price" : 76.0,
    "vol" : 10
}

,
{
    "time" : "09:22:17",
    "price" : 76.0,
    "vol" : 1
}

,
{
    "time" : "09:22:22",
    "price" : 76.0,
    "vol" : 2
}

,
{
    "time" : "09:22:27",
    "price" : 76.0,
    "vol" : 2
}

,
{
    "time" : "09:22:32",
    "price" : 76.0,
    "vol" : 4
}

,
{
    "time" : "09:22:37",
    "price" : 76.1,
    "vol" : 2
}

,
{
    "time" : "09:22:42",
    "price" : 76.0,
    "vol" : 16
}

,
{
    "time" : "09:22:47",
    "price" : 76.0,
    "vol" : 3
}

,
{
    "time" : "09:22:52",
    "price" : 76.0,
    "vol" : 2
}

,
{
    "time" : "09:22:57",
    "price" : 76.0,
    "vol" : 5
}

,
{
    "time" : "09:23:02",
    "price" : 76.0,
    "vol" : 1
}

,
{
    "time" : "09:23:07",
    "price" : 76.0,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:23:58",
    "price" : 76.1,
    "vol" : 1
}

,
{
    "time" : "09:25:58",
    "price" : 76.4,
    "vol" : 3
}

,
{
    "time" : "09:25:58",
    "price" : 76.4,
    "vol" : 3
}

,
{
    "time" : "09:25:58",
    "price" : 76.4,
    "vol" : 3
}

,
{
    "time" : "09:27:28",
    "price" : 77.0,
    "vol" : 13
}

,
{
    "time" : "09:27:33",
    "price" : 77.1,
    "vol" : 9
}

,
{
    "time" : "09:27:38",
    "price" : 77.2,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:27:59",
    "price" : 77.7,
    "vol" : 13
}

,
{
    "time" : "09:29:29",
    "price" : 78.2,
    "vol" : 13
}

,
{
    "time" : "09:29:34",
    "price" : 78.3,
    "vol" : 13
}

,
{
    "time" : "09:29:39",
    "price" : 78.4,
    "vol" : 4
}
,
{
    "time" : "09:29:45",
    "price" : 78.3,
    "vol" : 10
}

,
{
    "time" : "09:29:50",
    "price" : 78.3,
    "vol" : 9
}

,
{
    "time" : "09:29:55",
    "price" : 78.3,
    "vol" : 13
}

,
{
    "time" : "09:30:00",
    "price" : 78.3,
    "vol" : 5
}

,
{
    "time" : "09:30:05",
    "price" : 78.2,
    "vol" : 8
}

,
{
    "time" : "09:30:15",
    "price" : 78.3,
    "vol" : 1
}

,
{
    "time" : "09:31:05",
    "price" : 78.5,
    "vol" : 18
}

,
{
    "time" : "09:31:20",
    "price" : 78.9,
    "vol" : 6
}

,
{
    "time" : "09:31:30",
    "price" : 78.8,
    "vol" : 12
}

,
{
    "time" : "09:31:35",
    "price" : 78.7,
    "vol" : 18
}

,
{
    "time" : "09:31:45",
    "price" : 78.6,
    "vol" : 7
}

,
{
    "time" : "09:31:55",
    "price" : 78.5,
    "vol" : 2947
}

,
{
    "time" : "09:32:20",
    "price" : 78.5,
    "vol" : 2
}

,
{
    "time" : "09:32:55",
    "price" : 78.5,
    "vol" : 4
}

,
{
    "time" : "09:33:15",
    "price" : 78.6,
    "vol" : 3044
}

,
{
    "time" : "09:33:30",
    "price" : 78.7,
    "vol" : 4
}

,
{
    "time" : "09:33:35",
    "price" : 78.7,
    "vol" : 4
}

,
{
    "time" : "09:33:40",
    "price" : 78.6,
    "vol" : 5
}

,
{
    "time" : "09:33:45",
    "price" : 78.6,
    "vol" : 7
}

,
{
    "time" : "09:33:55",
    "price" : 78.6,
    "vol" : 4
}

,
{
    "time" : "09:34:00",
    "price" : 78.6,
    "vol" : 3
}

,
{
    "time" : "09:34:05",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "09:34:10",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "09:34:21",
    "price" : 78.7,
    "vol" : 4
}

,
{
    "time" : "09:34:36",
    "price" : 78.8,
    "vol" : 5
}

,
{
    "time" : "09:35:06",
    "price" : 79.1,
    "vol" : 6
}

,
{
    "time" : "09:35:11",
    "price" : 79.1,
    "vol" : 6
}

,
{
    "time" : "09:35:16",
    "price" : 79.0,
    "vol" : 14
}

,
{
    "time" : "09:35:21",
    "price" : 79.0,
    "vol" : 18
}

,
{
    "time" : "09:35:26",
    "price" : 79.0,
    "vol" : 11
}

,
{
    "time" : "09:35:31",
    "price" : 78.9,
    "vol" : 5
}

,
{
    "time" : "09:35:36",
    "price" : 78.9,
    "vol" : 8
}

,
{
    "time" : "09:35:41",
    "price" : 78.9,
    "vol" : 10
}

,
{
    "time" : "09:35:51",
    "price" : 78.9,
    "vol" : 5
}

,
{
    "time" : "09:36:01",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "09:36:06",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "09:36:11",
    "price" : 78.8,
    "vol" : 2
}

,
{
    "time" : "09:36:16",
    "price" : 78.8,
    "vol" : 2
}

,
{
    "time" : "09:36:21",
    "price" : 78.9,
    "vol" : 5
}

,
{
    "time" : "09:36:26",
    "price" : 78.9,
    "vol" : 3
}

,
{
    "time" : "09:36:31",
    "price" : 78.9,
    "vol" : 4
}

,
{
    "time" : "09:36:36",
    "price" : 78.8,
    "vol" : 2
}

,
{
    "time" : "09:36:46",
    "price" : 78.8,
    "vol" : 2
}

,
{
    "time" : "09:36:51",
    "price" : 78.8,
    "vol" : 1
}

,
{
    "time" : "09:36:56",
    "price" : 78.6,
    "vol" : 9
}

,
{
    "time" : "09:37:01",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "09:37:06",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:37:16",
    "price" : 78.6,
    "vol" : 3
}

,
{
    "time" : "09:37:21",
    "price" : 78.6,
    "vol" : 3
}

,
{
    "time" : "09:37:26",
    "price" : 78.6,
    "vol" : 1
}
,
{
    "time" : "09:37:36",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "09:37:41",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "09:37:46",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:37:51",
    "price" : 78.7,
    "vol" : 1
}

,
{
    "time" : "09:38:01",
    "price" : 78.8,
    "vol" : 3312
}

,
{
    "time" : "09:38:12",
    "price" : 78.8,
    "vol" : 2
}

,
{
    "time" : "09:38:17",
    "price" : 78.7,
    "vol" : 5
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:38:27",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "09:39:12",
    "price" : 78.2,
    "vol" : 6
}

,
{
    "time" : "09:39:17",
    "price" : 78.3,
    "vol" : 6
}

,
{
    "time" : "09:39:57",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "09:42:03",
    "price" : 78.2,
    "vol" : 6
}

,
{
    "time" : "09:42:08",
    "price" : 78.2,
    "vol" : 9
}

,
{
    "time" : "09:42:13",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "09:42:18",
    "price" : 78.3,
    "vol" : 6
}

,
{
    "time" : "09:42:23",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "09:42:28",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "09:42:38",
    "price" : 78.0,
    "vol" : 7
}

,
{
    "time" : "09:42:43",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "09:42:53",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "09:43:08",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "09:43:13",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "09:43:18",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "09:43:23",
    "price" : 78.3,
    "vol" : 3
}

,
{
    "time" : "09:43:43",
    "price" : 78.3,
    "vol" : 2
}

,
{
    "time" : "09:43:48",
    "price" : 78.3,
    "vol" : 5
}

,
{
    "time" : "09:43:53",
    "price" : 78.3,
    "vol" : 2
}

,
{
    "time" : "09:43:58",
    "price" : 78.3,
    "vol" : 10
}

,
{
    "time" : "09:44:03",
    "price" : 78.3,
    "vol" : 6
}

,
{
    "time" : "09:44:08",
    "price" : 78.3,
    "vol" : 7
}

,
{
    "time" : "09:44:13",
    "price" : 78.5,
    "vol" : 4
}

,
{
    "time" : "09:44:18",
    "price" : 78.5,
    "vol" : 5
}

,
{
    "time" : "09:44:23",
    "price" : 78.5,
    "vol" : 2
}

,
{
    "time" : "09:44:28",
    "price" : 78.5,
    "vol" : 5
}

,
{
    "time" : "09:44:33",
    "price" : 78.5,
    "vol" : 4
}

,
{
    "time" : "09:44:38",
    "price" : 78.3,
    "vol" : 11
}

,
{
    "time" : "09:44:43",
    "price" : 78.3,
    "vol" : 2
}

,
{
    "time" : "09:44:48",
    "price" : 78.3,
    "vol" : 6
}

,
{
    "time" : "09:44:53",
    "price" : 78.3,
    "vol" : 4
}

,
{
    "time" : "10:00:48",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:01:13",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:01:23",
    "price" : 77.6,
    "vol" : 1
}
,
{
    "time" : "10:01:28",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:01:48",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:02:18",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "10:02:18",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "10:02:33",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:03:18",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "10:03:44",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:03:49",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:04:29",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:04:44",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:05:09",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:05:49",
    "price" : 77.4,
    "vol" : 8
}

,
{
    "time" : "10:05:54",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:05:59",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:06:04",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:06:09",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:07:04",
    "price" : 77.8,
    "vol" : 3
}

,
{
    "time" : "10:07:09",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:07:14",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "10:07:19",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:07:24",
    "price" : 77.9,
    "vol" : 7
}

,
{
    "time" : "10:07:29",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:07:40",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "10:07:45",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:07:55",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "10:08:00",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:08:10",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:08:15",
    "price" : 78.0,
    "vol" : 3
}

,
{
    "time" : "10:08:20",
    "price" : 78.0,
    "vol" : 10
}

,
{
    "time" : "10:08:30",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:08:35",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:08:40",
    "price" : 78.1,
    "vol" : 6
}

,
{
    "time" : "10:08:45",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "10:08:50",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "10:08:55",
    "price" : 78.2,
    "vol" : 7
}

,
{
    "time" : "10:09:00",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "10:09:05",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "10:09:10",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "10:09:20",
    "price" : 78.2,
    "vol" : 9
}

,
{
    "time" : "10:09:26",
    "price" : 78.3,
    "vol" : 1
}

,
{
    "time" : "10:09:31",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "10:09:46",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "10:09:51",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "10:09:56",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "10:10:01",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "10:10:06",
    "price" : 78.2,
    "vol" : 6
}

,
{
    "time" : "10:10:21",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "10:10:26",
    "price" : 78.1,
    "vol" : 8
}

,
{
    "time" : "10:10:31",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:10:36",
    "price" : 78.0,
    "vol" : 2
}
,
{
    "time" : "10:10:41",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:10:46",
    "price" : 77.9,
    "vol" : 4
}

,
{
    "time" : "10:10:56",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:11:21",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:11:31",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "10:11:46",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "10:11:56",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:12:16",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:12:26",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:12:41",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:13:01",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:13:06",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "10:13:11",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "10:13:16",
    "price" : 78.1,
    "vol" : 3
}

,
{
    "time" : "10:13:36",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:13:46",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:14:01",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:14:07",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:14:12",
    "price" : 78.0,
    "vol" : 5
}

,
{
    "time" : "10:14:17",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:14:32",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:14:37",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "10:15:42",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:15:52",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:15:57",
    "price" : 78.0,
    "vol" : 3
}

,
{
    "time" : "10:16:32",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:16:37",
    "price" : 78.1,
    "vol" : 3
}

,
{
    "time" : "10:16:42",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:16:52",
    "price" : 78.1,
    "vol" : 3
}

,
{
    "time" : "10:17:07",
    "price" : 77.9,
    "vol" : 5
}

,
{
    "time" : "10:17:47",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:17:52",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "10:18:08",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:18:28",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:18:48",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:19:08",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:19:23",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:19:38",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:19:43",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:20:03",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:20:18",
    "price" : 77.8,
    "vol" : 5
}

,
{
    "time" : "10:20:23",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:20:28",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:20:49",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:21:04",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:22:59",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:23:24",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:23:34",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:23:54",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:24:04",
    "price" : 77.8,
    "vol" : 8
}
,
{
    "time" : "10:24:39",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:24:44",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:25:25",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:26:55",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:27:30",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:27:35",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:28:00",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:28:11",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:28:21",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:28:26",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:28:56",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:29:01",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:29:06",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:29:46",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:29:56",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:30:01",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:30:01",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:32:02",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:32:07",
    "price" : 77.8,
    "vol" : 4
}

,
{
    "time" : "10:32:57",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:33:02",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:33:47",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:34:42",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:35:42",
    "price" : 77.7,
    "vol" : 3
}

,
{
    "time" : "10:35:48",
    "price" : 77.6,
    "vol" : 3
}

,
{
    "time" : "10:36:18",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "10:36:23",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:36:28",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:36:33",
    "price" : 77.4,
    "vol" : 4
}

,
{
    "time" : "10:36:38",
    "price" : 77.4,
    "vol" : 3
}

,
{
    "time" : "10:36:43",
    "price" : 77.4,
    "vol" : 6
}

,
{
    "time" : "10:36:58",
    "price" : 77.4,
    "vol" : 1
}

,
{
    "time" : "10:37:03",
    "price" : 77.4,
    "vol" : 1
}

,
{
    "time" : "10:37:08",
    "price" : 77.4,
    "vol" : 2
}

,
{
    "time" : "10:37:13",
    "price" : 77.6,
    "vol" : 5
}

,
{
    "time" : "10:37:28",
    "price" : 77.4,
    "vol" : 2
}

,
{
    "time" : "10:37:33",
    "price" : 77.4,
    "vol" : 1
}

,
{
    "time" : "10:38:08",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:38:14",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:38:19",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:38:24",
    "price" : 77.5,
    "vol" : 3
}

,
{
    "time" : "10:38:39",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:38:49",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "10:39:29",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:39:34",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:39:49",
    "price" : 77.4,
    "vol" : 1
}

,
{
    "time" : "10:39:54",
    "price" : 77.4,
    "vol" : 2
}

,
{
    "time" : "10:40:09",
    "price" : 77.4,
    "vol" : 1
}

,
{
    "time" : "10:40:14",
    "price" : 77.4,
    "vol" : 2
}

,
{
    "time" : "10:40:19",
    "price" : 77.5,
    "vol" : 1
}
,
{
    "time" : "10:40:59",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:41:04",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:41:09",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:41:19",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:41:24",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:41:44",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:41:49",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:41:59",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:42:09",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:42:14",
    "price" : 77.7,
    "vol" : 6
}

,
{
    "time" : "10:42:19",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "10:42:24",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:42:39",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:42:44",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:42:55",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:43:05",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "10:43:10",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:43:55",
    "price" : 77.8,
    "vol" : 10
}

,
{
    "time" : "10:44:15",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:45:00",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:45:10",
    "price" : 77.7,
    "vol" : 3
}

,
{
    "time" : "10:45:20",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:45:40",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:45:45",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:46:00",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:46:36",
    "price" : 77.6,
    "vol" : 3
}

,
{
    "time" : "10:46:56",
    "price" : 77.5,
    "vol" : 9
}

,
{
    "time" : "10:47:01",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:47:26",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "10:47:41",
    "price" : 77.6,
    "vol" : 4
}

,
{
    "time" : "10:48:57",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:49:02",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:49:12",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:49:17",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:49:42",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:50:17",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:50:37",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:51:27",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "10:52:02",
    "price" : 77.5,
    "vol" : 1
}

,
{
    "time" : "10:52:17",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "10:52:27",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "10:52:42",
    "price" : 77.6,
    "vol" : 7
}

,
{
    "time" : "10:53:58",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:54:03",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:54:08",
    "price" : 77.7,
    "vol" : 3
}

,
{
    "time" : "10:54:13",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:54:18",
    "price" : 77.7,
    "vol" : 10
}

,
{
    "time" : "10:54:23",
    "price" : 77.7,
    "vol" : 3
}

,
{
    "time" : "10:54:33",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "10:54:38",
    "price" : 77.8,
    "vol" : 5
}
,
{
    "time" : "10:54:48",
    "price" : 77.8,
    "vol" : 5
}

,
{
    "time" : "10:54:53",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "10:55:33",
    "price" : 77.8,
    "vol" : 1
}

,
{
    "time" : "10:56:03",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:56:38",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:56:53",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:57:03",
    "price" : 77.9,
    "vol" : 5
}

,
{
    "time" : "10:57:13",
    "price" : 77.9,
    "vol" : 8
}

,
{
    "time" : "10:57:24",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "10:57:29",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "10:57:39",
    "price" : 78.0,
    "vol" : 9
}

,
{
    "time" : "10:57:54",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "10:57:59",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "10:58:04",
    "price" : 78.0,
    "vol" : 8
}

,
{
    "time" : "10:58:09",
    "price" : 78.0,
    "vol" : 5
}

,
{
    "time" : "10:58:14",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:58:19",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "10:58:24",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "10:58:29",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "10:58:34",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:58:39",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "10:58:49",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "10:58:54",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "10:59:05",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:59:10",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "10:59:15",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "10:59:55",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:00:15",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "11:16:34",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:16:54",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:17:29",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "11:17:44",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:17:49",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:18:09",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:20:00",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "11:21:00",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:21:10",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:21:30",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "11:21:55",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:22:25",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "11:22:36",
    "price" : 77.9,
    "vol" : 2
}

,
{
    "time" : "11:22:51",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "11:22:56",
    "price" : 78.0,
    "vol" : 5
}

,
{
    "time" : "11:23:16",
    "price" : 78.0,
    "vol" : 10
}

,
{
    "time" : "11:23:36",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:23:46",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:23:51",
    "price" : 78.1,
    "vol" : 10
}

,
{
    "time" : "11:23:56",
    "price" : 78.2,
    "vol" : 4
}

,
{
    "time" : "11:24:16",
    "price" : 78.2,
    "vol" : 5
}

,
{
    "time" : "11:24:21",
    "price" : 78.2,
    "vol" : 1
}
,
{
    "time" : "11:24:26",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:24:31",
    "price" : 78.2,
    "vol" : 5
}

,
{
    "time" : "11:24:36",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:24:46",
    "price" : 78.2,
    "vol" : 6
}

,
{
    "time" : "11:24:51",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:26:17",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "11:26:27",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:26:42",
    "price" : 78.1,
    "vol" : 3
}

,
{
    "time" : "11:26:47",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:26:57",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "11:27:02",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:27:17",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:27:27",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:28:07",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "11:28:22",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "11:29:03",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:29:18",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:29:23",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "11:29:38",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:30:33",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:30:33",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:32:03",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:32:43",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:33:18",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:34:09",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "11:34:49",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:34:59",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:35:04",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:35:44",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:35:59",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:36:09",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:36:14",
    "price" : 78.2,
    "vol" : 5
}

,
{
    "time" : "11:36:19",
    "price" : 78.2,
    "vol" : 3
}

,
{
    "time" : "11:36:24",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "11:36:34",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "11:37:34",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "11:38:20",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:38:25",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:38:45",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:39:05",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:39:40",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:40:41",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:40:51",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:40:56",
    "price" : 78.0,
    "vol" : 3
}

,
{
    "time" : "11:41:11",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:42:21",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:42:26",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:42:41",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "11:42:46",
    "price" : 78.0,
    "vol" : 10
}

,
{
    "time" : "11:43:51",
    "price" : 78.0,
    "vol" : 1
}
,
{
    "time" : "11:44:16",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "11:44:21",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:45:52",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "11:46:12",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:46:27",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:46:32",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "11:46:37",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:47:22",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "11:48:13",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:49:03",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:49:58",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:50:23",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:50:28",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:50:33",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:50:53",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "11:51:13",
    "price" : 78.0,
    "vol" : 4
}

,
{
    "time" : "11:53:29",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "11:53:34",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:53:59",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:54:29",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "11:54:44",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:55:14",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:55:24",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:56:45",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:57:55",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:59:26",
    "price" : 78.0,
    "vol" : 3
}

,
{
    "time" : "11:59:41",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "11:59:51",
    "price" : 77.9,
    "vol" : 10
}

,
{
    "time" : "12:00:01",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "12:01:21",
    "price" : 77.8,
    "vol" : 5
}

,
{
    "time" : "12:01:36",
    "price" : 77.8,
    "vol" : 12
}

,
{
    "time" : "12:01:41",
    "price" : 77.8,
    "vol" : 5
}

,
{
    "time" : "12:01:51",
    "price" : 77.6,
    "vol" : 8
}

,
{
    "time" : "12:02:01",
    "price" : 77.6,
    "vol" : 8
}

,
{
    "time" : "12:02:06",
    "price" : 77.6,
    "vol" : 13
}

,
{
    "time" : "12:02:06",
    "price" : 77.6,
    "vol" : 13
}

,
{
    "time" : "12:02:26",
    "price" : 77.5,
    "vol" : 5
}

,
{
    "time" : "12:02:36",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:02:51",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "12:03:37",
    "price" : 77.6,
    "vol" : 3
}

,
{
    "time" : "12:03:52",
    "price" : 77.6,
    "vol" : 5
}

,
{
    "time" : "12:05:12",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:05:27",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:06:02",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "12:06:32",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "12:06:47",
    "price" : 77.8,
    "vol" : 4
}

,
{
    "time" : "12:07:03",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:08:24",
    "price" : 77.6,
    "vol" : 4
}

,
{
    "time" : "12:09:14",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:09:29",
    "price" : 77.6,
    "vol" : 1
}
,
{
    "time" : "12:09:49",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:09:59",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:10:24",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:10:34",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:10:44",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:10:49",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:12:59",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:13:30",
    "price" : 77.7,
    "vol" : 6
}

,
{
    "time" : "12:13:40",
    "price" : 77.6,
    "vol" : 5
}

,
{
    "time" : "12:13:45",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:13:55",
    "price" : 77.6,
    "vol" : 4
}

,
{
    "time" : "12:14:05",
    "price" : 77.5,
    "vol" : 2
}

,
{
    "time" : "12:14:10",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:14:15",
    "price" : 77.6,
    "vol" : 5
}

,
{
    "time" : "12:16:00",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:16:20",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:16:30",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "12:16:45",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:16:55",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:17:15",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:17:46",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:17:51",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:18:11",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:18:16",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:18:26",
    "price" : 77.6,
    "vol" : 9
}

,
{
    "time" : "12:18:46",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:18:51",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "12:19:06",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "12:19:42",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:19:47",
    "price" : 77.6,
    "vol" : 3
}

,
{
    "time" : "12:20:02",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "12:20:22",
    "price" : 77.7,
    "vol" : 5
}

,
{
    "time" : "12:20:32",
    "price" : 77.6,
    "vol" : 1
}

,
{
    "time" : "12:20:42",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:20:47",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:20:52",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:21:02",
    "price" : 77.6,
    "vol" : 2
}

,
{
    "time" : "12:21:57",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:22:27",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "12:23:27",
    "price" : 77.7,
    "vol" : 4
}

,
{
    "time" : "12:23:47",
    "price" : 77.8,
    "vol" : 2
}

,
{
    "time" : "12:24:07",
    "price" : 77.8,
    "vol" : 11
}

,
{
    "time" : "12:24:13",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "12:24:18",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "12:24:33",
    "price" : 77.9,
    "vol" : 1
}

,
{
    "time" : "12:24:43",
    "price" : 77.9,
    "vol" : 3
}

,
{
    "time" : "12:24:48",
    "price" : 78.0,
    "vol" : 5
}

,
{
    "time" : "12:24:53",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "12:25:03",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "12:25:18",
    "price" : 78.0,
    "vol" : 1
}
,
{
    "time" : "12:25:23",
    "price" : 78.0,
    "vol" : 3
}

,
{
    "time" : "12:25:28",
    "price" : 77.6,
    "vol" : 10
}

,
{
    "time" : "12:25:43",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "12:26:38",
    "price" : 78.0,
    "vol" : 2
}

,
{
    "time" : "12:26:48",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "12:42:48",
    "price" : 78.7,
    "vol" : 2
}

,
{
    "time" : "12:43:33",
    "price" : 78.7,
    "vol" : 1
}

,
{
    "time" : "12:43:53",
    "price" : 78.7,
    "vol" : 1
}

,
{
    "time" : "12:44:03",
    "price" : 78.7,
    "vol" : 10
}

,
{
    "time" : "12:44:18",
    "price" : 78.8,
    "vol" : 3
}

,
{
    "time" : "12:44:23",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:44:28",
    "price" : 78.8,
    "vol" : 1
}

,
{
    "time" : "12:44:33",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:44:43",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:44:48",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:44:53",
    "price" : 78.8,
    "vol" : 1
}

,
{
    "time" : "12:45:03",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "12:45:08",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "12:45:23",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:45:28",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:45:44",
    "price" : 78.9,
    "vol" : 3
}

,
{
    "time" : "12:45:49",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:46:04",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:46:14",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "12:46:19",
    "price" : 78.8,
    "vol" : 5
}

,
{
    "time" : "12:46:24",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:46:44",
    "price" : 78.9,
    "vol" : 1
}

,
{
    "time" : "12:46:59",
    "price" : 78.9,
    "vol" : 4
}

,
{
    "time" : "12:47:09",
    "price" : 78.8,
    "vol" : 1
}

,
{
    "time" : "12:47:44",
    "price" : 78.9,
    "vol" : 5
}

,
{
    "time" : "12:47:49",
    "price" : 79.0,
    "vol" : 6
}

,
{
    "time" : "12:47:54",
    "price" : 79.0,
    "vol" : 6
}

,
{
    "time" : "12:47:59",
    "price" : 79.0,
    "vol" : 11
}

,
{
    "time" : "12:48:04",
    "price" : 79.1,
    "vol" : 12
}

,
{
    "time" : "12:48:15",
    "price" : 79.1,
    "vol" : 3
}

,
{
    "time" : "12:48:20",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "12:48:25",
    "price" : 79.1,
    "vol" : 2
}

,
{
    "time" : "12:48:40",
    "price" : 79.1,
    "vol" : 2
}

,
{
    "time" : "12:48:45",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:48:55",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:49:00",
    "price" : 79.1,
    "vol" : 2
}

,
{
    "time" : "12:49:05",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:49:10",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:49:25",
    "price" : 79.1,
    "vol" : 3
}

,
{
    "time" : "12:49:35",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:49:40",
    "price" : 79.1,
    "vol" : 5
}

,
{
    "time" : "12:49:50",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:50:00",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:50:05",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "12:50:15",
    "price" : 79.1,
    "vol" : 1
}
,
{
    "time" : "12:50:20",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "12:50:25",
    "price" : 79.1,
    "vol" : 3
}

,
{
    "time" : "12:50:40",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "12:51:05",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "12:51:10",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:51:15",
    "price" : 79.1,
    "vol" : 2
}

,
{
    "time" : "12:51:20",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:51:25",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "12:51:30",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "12:51:35",
    "price" : 79.2,
    "vol" : 4
}

,
{
    "time" : "12:51:40",
    "price" : 79.2,
    "vol" : 7
}

,
{
    "time" : "12:51:45",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "12:51:55",
    "price" : 79.2,
    "vol" : 3
}

,
{
    "time" : "12:52:00",
    "price" : 79.2,
    "vol" : 5
}

,
{
    "time" : "12:52:05",
    "price" : 79.2,
    "vol" : 3
}

,
{
    "time" : "12:52:15",
    "price" : 79.2,
    "vol" : 2
}

,
{
    "time" : "12:52:25",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "12:52:30",
    "price" : 79.3,
    "vol" : 7
}

,
{
    "time" : "12:52:35",
    "price" : 79.3,
    "vol" : 4
}

,
{
    "time" : "12:52:40",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "12:52:51",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "12:53:01",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "12:53:16",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "12:53:21",
    "price" : 79.3,
    "vol" : 4
}

,
{
    "time" : "12:53:26",
    "price" : 79.3,
    "vol" : 4
}

,
{
    "time" : "12:53:31",
    "price" : 79.3,
    "vol" : 4
}

,
{
    "time" : "12:53:36",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "12:54:06",
    "price" : 79.6,
    "vol" : 17
}

,
{
    "time" : "12:54:11",
    "price" : 79.6,
    "vol" : 4
}

,
{
    "time" : "12:54:16",
    "price" : 79.6,
    "vol" : 8
}

,
{
    "time" : "12:54:31",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:54:36",
    "price" : 79.5,
    "vol" : 4
}

,
{
    "time" : "12:54:41",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:54:46",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:54:56",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:55:01",
    "price" : 79.5,
    "vol" : 3
}

,
{
    "time" : "12:55:06",
    "price" : 79.5,
    "vol" : 14
}

,
{
    "time" : "12:55:11",
    "price" : 79.5,
    "vol" : 10
}

,
{
    "time" : "12:55:16",
    "price" : 79.6,
    "vol" : 6
}

,
{
    "time" : "12:55:31",
    "price" : 79.6,
    "vol" : 10
}

,
{
    "time" : "12:55:36",
    "price" : 79.4,
    "vol" : 7
}

,
{
    "time" : "12:55:41",
    "price" : 79.6,
    "vol" : 1
}

,
{
    "time" : "12:55:46",
    "price" : 79.6,
    "vol" : 2
}

,
{
    "time" : "12:55:51",
    "price" : 79.6,
    "vol" : 4
}

,
{
    "time" : "12:56:11",
    "price" : 79.6,
    "vol" : 1
}

,
{
    "time" : "12:56:21",
    "price" : 79.6,
    "vol" : 1
}

,
{
    "time" : "12:56:32",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:56:37",
    "price" : 79.5,
    "vol" : 5
}

,
{
    "time" : "12:56:47",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:57:02",
    "price" : 79.4,
    "vol" : 3
}
,
{
    "time" : "12:57:07",
    "price" : 79.4,
    "vol" : 1
}

,
{
    "time" : "12:57:12",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:57:22",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:57:27",
    "price" : 79.4,
    "vol" : 1
}

,
{
    "time" : "12:57:37",
    "price" : 79.4,
    "vol" : 1
}

,
{
    "time" : "12:57:47",
    "price" : 79.5,
    "vol" : 3
}

,
{
    "time" : "12:58:02",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:58:07",
    "price" : 79.5,
    "vol" : 5
}

,
{
    "time" : "12:58:12",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:58:17",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:58:22",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:58:27",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:58:32",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:58:42",
    "price" : 79.5,
    "vol" : 7
}

,
{
    "time" : "12:58:52",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:58:57",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:59:13",
    "price" : 79.5,
    "vol" : 2
}

,
{
    "time" : "12:59:18",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:59:28",
    "price" : 79.5,
    "vol" : 3
}

,
{
    "time" : "12:59:33",
    "price" : 79.4,
    "vol" : 5
}

,
{
    "time" : "12:59:38",
    "price" : 79.5,
    "vol" : 4
}

,
{
    "time" : "12:59:43",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "12:59:53",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "13:00:03",
    "price" : 79.5,
    "vol" : 1
}

,
{
    "time" : "13:00:28",
    "price" : 79.6,
    "vol" : 6
}

,
{
    "time" : "13:01:33",
    "price" : 79.5,
    "vol" : 3
}

,
{
    "time" : "13:02:03",
    "price" : 79.4,
    "vol" : 1
}

,
{
    "time" : "13:02:13",
    "price" : 79.4,
    "vol" : 2
}

,
{
    "time" : "13:02:18",
    "price" : 79.4,
    "vol" : 2
}

,
{
    "time" : "13:02:28",
    "price" : 79.4,
    "vol" : 5
}

,
{
    "time" : "13:02:33",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:02:43",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:02:48",
    "price" : 79.4,
    "vol" : 2
}

,
{
    "time" : "13:02:58",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:03:03",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:03:13",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:03:23",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "13:03:28",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:03:38",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:03:48",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:04:49",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "13:06:29",
    "price" : 79.2,
    "vol" : 2
}

,
{
    "time" : "13:06:49",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "13:06:54",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:07:09",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "13:07:14",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:08:40",
    "price" : 79.2,
    "vol" : 3
}

,
{
    "time" : "13:08:50",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:09:00",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:09:05",
    "price" : 79.2,
    "vol" : 1
}
,
{
    "time" : "13:09:10",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:09:20",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:09:45",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:09:55",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:10:00",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:10:05",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:10:10",
    "price" : 79.3,
    "vol" : 10
}

,
{
    "time" : "13:10:25",
    "price" : 79.2,
    "vol" : 9
}

,
{
    "time" : "13:10:36",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:10:41",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "13:10:51",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:11:06",
    "price" : 79.2,
    "vol" : 3
}

,
{
    "time" : "13:11:16",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:11:31",
    "price" : 79.1,
    "vol" : 2
}

,
{
    "time" : "13:11:46",
    "price" : 79.2,
    "vol" : 4
}

,
{
    "time" : "13:11:56",
    "price" : 79.2,
    "vol" : 6
}

,
{
    "time" : "13:12:26",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:12:36",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:12:51",
    "price" : 79.3,
    "vol" : 5
}

,
{
    "time" : "13:12:56",
    "price" : 79.3,
    "vol" : 1
}

,
{
    "time" : "13:13:01",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "13:13:06",
    "price" : 79.3,
    "vol" : 2
}

,
{
    "time" : "13:13:31",
    "price" : 79.3,
    "vol" : 3
}

,
{
    "time" : "13:13:36",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:14:11",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:14:26",
    "price" : 79.2,
    "vol" : 1
}

,
{
    "time" : "13:14:31",
    "price" : 79.1,
    "vol" : 7
}

,
{
    "time" : "13:14:36",
    "price" : 79.2,
    "vol" : 6
}

,
{
    "time" : "13:14:41",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "13:14:46",
    "price" : 79.2,
    "vol" : 2
}

,
{
    "time" : "13:14:51",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "13:15:12",
    "price" : 79.1,
    "vol" : 1
}

,
{
    "time" : "13:15:17",
    "price" : 79.0,
    "vol" : 11
}

,
{
    "time" : "13:15:22",
    "price" : 79.0,
    "vol" : 5
}

,
{
    "time" : "13:15:32",
    "price" : 79.0,
    "vol" : 8
}

,
{
    "time" : "13:15:37",
    "price" : 79.0,
    "vol" : 1
}

,
{
    "time" : "13:15:42",
    "price" : 79.0,
    "vol" : 2
}

,
{
    "time" : "13:15:52",
    "price" : 79.0,
    "vol" : 4
}

,
{
    "time" : "13:16:12",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "13:16:27",
    "price" : 78.9,
    "vol" : 2
}

,
{
    "time" : "13:17:32",
    "price" : 78.7,
    "vol" : 9
}

,
{
    "time" : "13:17:47",
    "price" : 78.6,
    "vol" : 1
}

,
{
    "time" : "13:17:52",
    "price" : 78.6,
    "vol" : 6
}

,
{
    "time" : "13:17:57",
    "price" : 78.5,
    "vol" : 1
}

,
{
    "time" : "13:18:28",
    "price" : 78.0,
    "vol" : 7
}

,
{
    "time" : "13:18:33",
    "price" : 77.8,
    "vol" : 12
}

,
{
    "time" : "13:18:43",
    "price" : 77.7,
    "vol" : 5
}

,
{
    "time" : "13:18:48",
    "price" : 77.7,
    "vol" : 5
}

,
{
    "time" : "13:18:53",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "13:19:03",
    "price" : 77.7,
    "vol" : 5
}
,
{
    "time" : "13:19:18",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "13:19:23",
    "price" : 77.7,
    "vol" : 2
}

,
{
    "time" : "13:19:28",
    "price" : 77.7,
    "vol" : 1
}

,
{
    "time" : "13:20:58",
    "price" : 78.0,
    "vol" : 1
}

,
{
    "time" : "13:21:13",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:21:23",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "13:21:28",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "13:21:33",
    "price" : 78.2,
    "vol" : 2
}

,
{
    "time" : "13:21:38",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "13:21:48",
    "price" : 78.2,
    "vol" : 4
}

,
{
    "time" : "13:22:48",
    "price" : 78.3,
    "vol" : 2
}

,
{
    "time" : "13:22:53",
    "price" : 78.3,
    "vol" : 3
}

,
{
    "time" : "13:23:04",
    "price" : 78.3,
    "vol" : 1
}

,
{
    "time" : "13:23:09",
    "price" : 78.2,
    "vol" : 9
}

,
{
    "time" : "13:23:14",
    "price" : 78.2,
    "vol" : 1
}

,
{
    "time" : "13:23:19",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "13:23:24",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "13:23:34",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:23:39",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:23:44",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:23:59",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:24:04",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "13:24:09",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:24:14",
    "price" : 78.1,
    "vol" : 4
}

,
{
    "time" : "13:24:19",
    "price" : 78.1,
    "vol" : 2
}

,
{
    "time" : "13:24:24",
    "price" : 78.1,
    "vol" : 10
}

,
{
    "time" : "13:24:29",
    "price" : 78.1,
    "vol" : 6581
}

,
{
    "time" : "13:24:39",
    "price" : 78.1,
    "vol" : 1
}

,
{
    "time" : "13:24:44",
    "price" : 78.1,
    "vol" : 6583
}

,
{
    "time" : "13:24:49",
    "price" : 78.1,
    "vol" : 6588
}

,
{
    "time" : "13:29:58",
    "price" : 78.1,
    "vol" : 6
}

,
{
    "time" : "13:30:00",
    "price" : 77.6,
    "vol" : 252
}

    ]);
    painter.padding.top = 10;
    painter.padding.left = 10;
    painter.padding.right = 20;
    painter.make();
    
</script>
</html>
