<!DOCTYPE html>

<html lang="zh-Hant-TW">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="../script/js/util.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/absPainter.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/axis.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/axis-x.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/axis-y.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/k-line.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/control.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/controlbar.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/line.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/cross.js" type="text/javascript" charset="UTF8"></script>
    <script src="../script/js/painterTrend.js" type="text/javascript" charset="UTF8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1 id="h1"><%=msg%></h1>
    <canvas id="trend" width="450" height="400" style="z-index: 2; border: 1px solid #69c"></canvas>
    <canvas id="trend2" width="450" height="400" style="z-index: 2; border: 1px solid #69c"></canvas>
    <!--<canvas id="kline2" width="900" height="500" style="z-index: 2; border: 1px solid #69c"></canvas>-->
</body>
<script type="text/javascript">
    var c = new control({
        begin: 0});

    var painter = new painterTrend('trend');
    painter.padding.top = 10;
    painter.padding.left = 10;
    painter.padding.right = 20;
    var res = {'code':'2301'};
    $.post('TrendData', res, function(req) {
        painter.load(c, req);
        painter.make();
    });
    
    var painter2 = new painterTrend('trend2');
    painter2.padding.top = 10;
    painter2.padding.left = 10;
    painter2.padding.right = 20;
    var res = {'code':'2327'};
    $.post('TrendData', res, function(req) {
        painter2.load(c, req);
        painter2.make();
    });
    
</script>
</html>
